{% load static %}
{% include 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div id="wrapper">
        
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3>
                        <img src="{% static 'plugins/images/logo.jpeg' %}" style="height:40px; width:60px; " alt="logo" class="img-circle" /> 
                        <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">TOES</span>
                    </h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="{% if user.user_type == 'patient' %} {% url 'patient_dashboard' %} {% else %} {% url 'doctor_dashboard' %} {% endif %}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'doctor_update_profile' %}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Update profile</a>
                    </li>
                    <li>
                        <a href="{% url 'add_cancer_type' %}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Enter Cancer Type</a>
                    </li>
                
                    <li>
                        <a href="{% url 'add_symptom' %}" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Enter Symptom</a>
                    </li>
                    <li>
                        <a href="{% url 'view_medical_history' %}" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>View Patients Records</a>  
                    </li>
                    <li>
                        <a href="{% url 'patient_questions' %}" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Patients Questions</a>
                    </li>
                    <li>
                        <a href="{% url 'patient_diagnosis' %}" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Patients Diagnosis</a>
                    </li>

                </ul>
                <div class="center p-20">
                     <a href="{% url 'logout' %}" target="" class="btn btn-danger btn-block waves-effect waves-light">Logout</a>
                 </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profile page</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Profile Page</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg"> 
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="#"><img src="{{ user.photo.url }}" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">{{ user}}</h4>
                                        <h5 class="text-white">{{ user.email }}</h5> </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <div class="col-md-12 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h2>Designation: {{ user.user_type }}</h2> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Full Name</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.first_name }} {{ user.last_name }}" readonly class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" placeholder="{{ user.email_address }}" readonly class="form-control form-control-line" name="example-email" id="example-email"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.phone_number }}" readonly class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">State</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.state }}" readonly class="form-control form-control-line"> </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-12">Medical degree</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.medical_degree }}" readonly class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Specialty</label> 
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.specialty }}" readonly class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Medical license number</label> 
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.medical_license_number }}" readonly class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Years of experience</label> 
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.years_of_experience }}" readonly class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Current employment</label> 
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.current_employment }}" readonly class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Clinic affiliation</label> 
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.clinic_affiliation }}" readonly class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Professional certifications</label> 
                                    <div class="col-md-12">
                                        <input type="text" placeholder="{{ user.professional_certifications }}" readonly class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Address</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" placeholder="{{ user.address }}" readonly class="form-control form-control-line"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-12">Select Country</label>
                                    <div class="col-sm-12">
                                        <select class="form-control form-control-line">
                                            <option>London</option>
                                            <option>India</option>
                                            <option>Usa</option>
                                            <option>Canada</option>
                                            <option>Thailand</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <a href="{% url 'doctor_update_profile' %}" class="btn btn-success">Click To Update Profile</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="12">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Patient</th>
                              <th>Cancer Type</th>
                              <th>Stage</th>
                              <th>Recommendation</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for diagnosis in patient_diagnoses %}
                              <tr>
                                <td>{{ diagnosis.patient }}</td>
                                <td>{{ diagnosis.cancer_type }}</td>
                                <td>{{ diagnosis.stage }}</td>
                                <td>
                                  {% if diagnosis.stage == 1 %}
                                    <a href="{% url 'patient_diagnoses' diagnosis.id %}" class="btn btn-primary">Provide Recommendation</a>
                                  {% else %}
                                    <span>No Recommendation</span>
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

{% endblock content %}